@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.header {
  background: $primary;
  color: black;
  padding: $spacing;
}


.nav__container {

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    gap: 1rem;
  }
}

a {
  text-decoration: none;
}

.icon-party::before { 
  content: "\e81a"; 
}
