@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.header {
  background: $primary;
  color: black;
}


.nav__container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;

  nav {
    display: flex;
    gap: 1rem;
  
   
  }
}

a {
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
  color: black;
  transition: background-color color;

  &:hover {
    background-color: lightblue;
    color: blue;
  }
}

.icon-party{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;

 &::before { 
  font-family: 'Material Icons';
  content: "\ea68"; 
}}

.highlight {
  font-weight: 700; 
}
