/* TODO _program.scss */
.program{
  margin:60px auto;
}

.program h2{
  text-align:center;
  margin-bottom:30px;
}

.program-item{
  display:flex;
  align-items:center;
  background:white;
  padding:18px 25px;
  margin-bottom:15px;
  border-left:6px solid #007BFF;
  border-radius:8px;
  box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.program-item span{
  font-weight:bold;
  color:#007BFF;
  width:80px;
}

.program-item p{
  margin:0;
}